_xmsgs/
ipcore_dir/
iseconfig/
aha_final.gise
aha_final.xise
*.html
fuse*
isim*
*isim*
xilinx*
movement_testbench_*
movement_map*
movement_p*
aha_final/_ngo/
a.wcfg
movement.bgn
movement.bld
movement.cmd_log
movement.lso
movement.ncd
movement.ngc
movement.ngd
movement.ngr
movement.pad
movement.par
movement.pcf
movement.prj
movement.ptwx
movement.syr
movement.twr
movement.twx
movement.unroutes
movement.ut
movement.xpi
movement.xst
movement_guide.ncd
movement_ngdbuild.xrpt
movement_summary.xml
movement_usage.xml
movement_xst.xrpt
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
